<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<link rel='import' href='../bower_components/polymer/polymer.html'>
<link rel='import' href='../bower_components/webcomponentsjs/webcomponents-lite.js'>
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/promise-polyfill/promise-polyfill-lite.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="shared-styles.html">

<dom-module id="loan-profile">
  <template>
    <style>
       :host {
        display: block;
      }

      .loan-btn {
        background-color: #5cb85c;
        border: none;
        color: white;
        padding: 12px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        font-weight: bold;
        width: 125px;
      }

      .container {
        text-align: center;
        border: 1px solid #d5d5d5;
        padding: 5px;
        background: #3367d6;
      }

      h3 {
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        margin: 0;
      }

      .button {
        background-color: #5cb85c;
        border: none;
        color: white;
        padding: 15px 32px;
        text-decoration: none;
        display: block;
        font-size: 16px;
        cursor: pointer;
        font-weight: bold;
      }

      .h-center {
        text-align: center;
        background: #fff;
        border: 1px solid #ccc;
        width: 50%;
        margin: 0 auto;
      }

      .btn-center {
        margin: 0 auto;
        text-align: center;
      }

      .content-center {
        width: 85%;
        margin: 0 auto;
        background: #fff;
        padding: 0 10px;
      }
    </style>
    <div class="container">
      <img src="images/logo-icon.png" alt="Mortgage" height="45" width="45">
      <h3>Mortgage application</h3>
    </div>

    <div class="content-center">
      <div>
        <paper-input type="text" error-message="enter email id" auto-validate required always-float-label label="Email" value="{{ prop1.emailId }}"></paper-input>
        <paper-input type="text" label="Phone No." value="{{ prop1.phoneNo }}"></paper-input>
        <paper-input type="text" label="Address" value="{{ prop1.address }}"></paper-input>
        <paper-input type="date" error-message="enter date of birth" auto-validate required always-float-label label="Date of birth" value="{{ prop1.dob }}"></paper-input>
        <paper-input type="password" error-message="enter password" auto-validate required always-float-label label="Password" value="{{ prop1.pwd }}"></paper-input>
        <div class="btn-center">
          <table>
            <tr>
              <td><paper-button class="button" on-tap="goBack">Back</paper-button></td>
              <td>
                <paper-button class="button" on-click="sendData">submit</paper-button></td>
            </tr>
          </table>
        </div>
        <iron-ajax auto url='http://localhost:8080/mortgage/broker' 
        body='{{prop2}}' method="post"
        on-response="handleDataLoad" content-type="application/json"
        on-error="handleErrorResponse" debounce-duration="300"></iron-ajax>
      

        <iron-ajax id="ironAjaxSubmit" url="http://localhost:8080/mortgage/updateProfile" body='{{prop1}}' method="post"
          on-response="handleResponse" on-error="handleErrorResponse" content-type="application/json"></iron-ajax>
      </div>

    </div>

  </template>

  <script>
    class LoanProfile extends Polymer.Element {
      constructor(){
        super();
        this.prop2 = {
          profileId: 'inguser'
        };
      }
      static get is() { return 'loan-profile'; }
      static get properties() {
        return {
          prop1: {
            type: Object,
            value: {}
          },
          prop2: {
            type: Object,
            value: {}
          }
        }
      }

      handleDataLoad(data){
        //alert(JSON.stringify(data.detail.response));
        this.prop1 = data.detail.response;
      }
      handleResponse(data) {
        //modal.active = true;
        alert("profile updated successfully");
      }

      handleErrorResponse(data) {
        alert("some error happened");
      }
      goBack() {
        // window.history.pushState({}, null, '/element');
        // window.dispatchEvent(new CustomEvent('location-changed'));
        // window.location.path="/element";
        // window.location.href="/element";
        // window.dispatchEvent(new CustomEvent('location-changed'));
        window.history.back();
      }

      sendData() {

        if ((this.prop1.profileId !== undefined)
          & (this.prop1.pwd !== undefined)
          & (this.prop1.dob !== undefined)) {
          this.prop1.profileId = 'inguser';
          this.$.ironAjaxSubmit.generateRequest();
        }
        else {
          alert("validation failed!")
        }
      }
    }

    window.customElements.define(LoanProfile.is, LoanProfile);
  </script>
</dom-module>