<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-pair/paper-pair.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">

<dom-module id="loan-details">
  <template>
    <style>
       :host {
        display: block;
      }
      :host {
        display: block;
      }

      .loan-btn {
        background-color: #5cb85c;
        border: none;
        color: white;
        padding: 12px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        font-weight: bold;
        width: 200px;
      }

      .container {
        text-align: center;
        border: 1px solid #d5d5d5;
        padding: 5px;
        background: #3367d6;
      }

      h2{
          background: #ff6200;
          color: white;
          margin: 0;
          padding: 10px;
      }

      h3 {
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        margin: 0;
      }

      .button {
        background-color: #5cb85c;
        border: none;
        color: white;
        padding: 15px 32px;
        text-decoration: none;
        display: block;
        font-size: 16px;
        cursor: pointer;
        font-weight: bold;
      }

      .h-center {
        text-align: center;
        background: #fff;
        border: 1px solid #ccc;
        width: 50%;
        margin: 0 auto;
        box-shadow: 3px 3px 5px #888888;
      }

      .btn-center {
        margin: 15px auto;
        text-align: center;
      }

      .content-center {
        width: 85%;
        margin: 0 auto;
        background: #fff;
        padding: 0 10px;
      }     

      /*table css*/

      .table_container {
        width: 81%;
        text-align: center;
        margin: 20px auto;
      }

      .table-filters {
        float: right;
        width: 100%;
        text-align: right;
      }

      .search-filters {
        padding: 12px 0;
        float: right;
      }

      .search-label {
        font-size: 15px;
        letter-spacing: 1px;
        text-transform: capitalize;
        display: inline-block;
        line-height: 30px;
        padding-right: 10px;
        color: #232323;
      }

      .search-input {
        font-size: 15px;
        color: #232323;
        border: solid 1px #eee;
        padding: 6px 10px;
        display: inline-block;
        line-height: 18px;
        min-width: 200px;
      }

      .ing-table {
        border-color: #e1e1dd;
        border-style: solid;
        border-width: 1px 0px 0px;
        border-collapse: collapse;
        table-layout: auto;
        width: 100%;
      }

      .ing-table th {
        background: #3367d6;
        border-collapse: collapse;
        padding: 10px 12px;
        color: #fff;
        font-weight: normal;
        font-size: 15px;
        position: relative;
        font-weight: 600;
      }

      .ing-table td {
        border: solid 1px #f1f1ed;
        border-collapse: collapse;
        padding: 12px 12px;
        color: #232323;
        font-size: 14px;
      }

      .ing-table td a {
          display:block;
          width:100%;
          cursor: pointer;
          color: #4285f4;
      }

      .ing-table tr {
        background: #fff;
      }

      .ing-table tr:nth-child(odd) {
        background: #f8f8f6;
      }


      .disbursement-button {
        background-color: #ff6200;
        border: none;
        color: white;
        padding: 10px 32px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        float: right;
      }

      input[type=text],
      input[type=date],
      input[type=number],
      input[type=text] {
        width: 100px;
      }

      input:read-only {
        background-color: #d4d4d4;
        border: none;
      }

      paper-dialog {
          width: 40%;
      }
    </style>
    <div class="container">
      <img src="images/logo-icon.png" alt="Mortgage" height="45" width="45">
      <h3>Mortgage application</h3>
    </div>
    <!--apply loan start http://10.117.189.240:8084/mortgage/loan--https://jsonplaceholder.typicode.com/posts-->
    <div class="apply-loan">
      <iron-ajax auto url='http://localhost:8080/mortgage/loan' handle-as="json" on-response="_handleResponse"
        on-error="_handleErrorResponse" debounce-duration="300"></iron-ajax>
      <iron-ajax id="ironAjaxLoanDetails"  method="get" url='http://localhost:8080/mortgage/loan/{{dealNo}}' handle-as="json" on-response="_handleLoanDetailsResponse"
        on-error="_handleLoanDetailsErrorResponse" debounce-duration="300"></iron-ajax>

      <div class="table_container">
        <div>
          <!-- <div class="table-filters">
            <div class="search-filters">
              <span class="search-label">Search: </span>
              <input class="search-input" placeholder="Id / First Name" type="text" value="{{searchString::input}}" id="filter" />
            </div>
          </div> -->
          <table class="ing-table">
            <thead>
              <tr>
                <th>Loan ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Status</th>
                <th>Applied Date</th>
            </tr>
            </thead>
            <tbody>
              <template is="dom-repeat" items="{{list}}" filter="{{_computeFilter(searchString)}}">
                <tr>
                  <td><a on-click="displayLoanDetails" data-items$="[[item]]">[[item.dealNo]]</a></td>
                  <td>[[item.fname]]</td>
                  <td>[[item.lname]]</td>
                  <td>[[item.status]]</td>
                  <td>[[item.submittedDate]]</td>
                </tr>
              </template>
            </tbody>
          </table>
          <paper-dialog id="loandetailsdialog">
              <h2>Loan Details</h2>
              <paper-pair key="Loan Id" value="[[loanDetail.dealNo]]"></paper-pair>
              <paper-pair key="Customer Name" value="[[loanDetail.fname]] [[loanDetail.lname]]"></paper-pair>
              <paper-pair key="Loan Amount" value="[[loanDetail.amount]]"></paper-pair>
              <paper-pair key="Loan Term" value="[[loanDetail.loanTerm]]"></paper-pair>
              <paper-pair key="Loan Type" value="[[loanDetail.loanType]]"></paper-pair>
              <paper-pair key="Address" value="[[loanDetail.propertyAddress]]"></paper-pair>
              <paper-pair key="Repayment Frequency" value="[[loanDetail.repaymentFrequency]]"></paper-pair>
              <paper-pair key="Status" value="[[loanDetail.status]]"></paper-pair>
              <paper-pair key="Applied Date" value="[[loanDetail.submittedDate]]"></paper-pair>
          </paper-dialog>
          <div class="btn-center">
              <table>
                <tr>
                  <td><paper-button class="button" on-tap="goBack">Back</paper-button></td>
                </tr>
              </table>
            </div>
        </div>
      </div>
  </template>

  <script>
    /**
     * `loan-details`
     * Loan Element
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class LoanDetails extends Polymer.Element {
      static get is() { return 'loan-details'; }
      static get properties() {
        return {
          prop1: {
            type: Object,
            value: {}
          },
          check: {
            type: Boolean,
            value: true
          },

          list: {
            type: Array,
            
            reflectToAttribute: true
          },
          searchString: {
            type: String
          },
          type: {
            type: String
          },
          dealNo: {
            type: String,
            value: ""
          },
          loanDetail:{
            type: Object,
            value: {}
          }

        };
      }

      displayLoanDetails(){
        this.dealNo = JSON.parse(event.target.dataset.items).dealNo;
        this.$.ironAjaxLoanDetails.generateRequest();
      }
      goBack() {
        // window.history.pushState({}, null, '/element');
        // window.dispatchEvent(new CustomEvent('location-changed'));
        // window.location.path="/element";
        // window.location.href="/element";
        // window.dispatchEvent(new CustomEvent('location-changed'));
        window.history.back();
      }
      navigate() {
        this.check = false;
      }

      sendData() {
        let request = this.$.ironAjaxSubmit.generateRequest();
        request.completes.then(function (req) {
          alert('working');

        }, function (rejected) {
          // failed request, argument is an object
          let req = rejected.request;
          let error = rejected.error;
        }
        )
      }

      _getLoanType(id) {
        console.log(id);
        var type;
        switch (id) {
          case 0:
            type = "Loan Id";
            break;
          case 1:
            type = "First name";
            break;
        }
        return type;

      }
      _handleResponse(res) {
        console.log(JSON.stringify(res.detail.response));
        var item = [
            {"loanId": 123123, "amount":0.0,"fname":"Tom","lname":"rian","dob":null,"loanType":null,"propertyAddress":null,"monthlyIncome":0.0,"monthlyExpenses":0.0,"loanTerm":0,"repaymentFrequency":null,"status":"Draft","submittedDate":{"year":2017,"month":"NOVEMBER","dayOfMonth":23,"monthValue":11,"dayOfWeek":"THURSDAY","era":"CE","dayOfYear":327,"leapYear":false,"chronology":{"id":"ISO","calendarType":"iso8601"}}}
        ];
         this.list = res.detail.response;
        //this.list = item;
      }
      _handleErrorResponse(event) {
        console.log("Error Response " + event.detail.request.xhr.response);

      }

      _handleLoanDetailsResponse(event){
         if(event.detail.response){
           this.loanDetail = JSON.parse(JSON.stringify(event.detail.response));
           this.loanDetail.customerName = this.loanDetail.fname + " " + this.loanDetail.lname;
           this.$.loandetailsdialog.open();
         }
      }

      _handleLoanDetailsErrorResponse(event){
        console.log("Error Response " + event.detail.request.xhr.response);
      }

      _computeFilter(string) {
        if (!string) {
          // set filter to null to disable filtering
          return null;
        } else {
          // return a filter function for the current search string
          string = string.toString().toLowerCase();
          return function (item) {
            function getType(id) {
              var type;
              switch (id) {
                case 0:
                  type = "CarLoan";
                  break;
                case 1:
                  type = "HomeLoan";
                  break;
                case 13:
                  type = "PersonalLoan";
                  break;
                case 14:
                  type = "EducationalLoan";
                  break;
              }
              return type.toLowerCase();
            }
            var id = item.loanId.toString().toLowerCase();
            var type = getType(item.loanId).toString();
            return (id.indexOf(string) != -1 ||
              type.indexOf(string) != -1);
          };
        }
      }

      constructor() {
        super();
      }
    }

    window.customElements.define(LoanDetails.is, LoanDetails);
  </script>
</dom-module>