<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel='import' href='../bower_components/polymer/polymer.html'>
<link rel='import' href='../bower_components/webcomponentsjs/webcomponents-lite.js'>
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/promise-polyfill/promise-polyfill-lite.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="shared-styles.html">
<!-- <link rel="import" href="/bower_components/simple-modal/simple-modal.html"> -->
<dom-module id="loan-element">
  <template>
    <style>
       :host {
        display: block;
      }

      .loan-btn {
        background-color: #5cb85c;
        border: none;
        color: white;
        padding: 12px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        font-weight: bold;
        width: 200px;
        text-transform: capitalize;
      }

      .container {
        text-align: center;
        border: 1px solid #d5d5d5;
        padding: 5px;
        background: #3367d6;
      }

      h3 {
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        margin: 0;
      }

      .button {
        background-color: #5cb85c;
        border: none;
        color: white;
        padding: 15px 32px;
        text-decoration: none;
        display: block;
        font-size: 16px;
        cursor: pointer;
        font-weight: bold;
      }

      .h-center {
        text-align: center;
        background: #fff;
        border: 1px solid #ccc;
        width: 50%;
        margin: 0 auto;

      }

      .btn-center {
        margin: 0 auto;
        text-align: center;
      }

      .content-center {
        width: 85%;
        margin: 0 auto;
        background: #fff;
        box-shadow: 3px 3px 5px #888888;
        padding: 0 10px;
      }
    </style>

    <div class="container">
      <img src="images/logo-icon.png" alt="Mortgage" height="45" width="45">
      <h3>Mortgage application</h3>
    </div>

    <div class="h-center">
      <div hidden$="{{!check}}">
        <paper-button class="loan-btn" on-click="navigateApplication">Apply Loan</paper-button>
      </div>

      <div hidden$="{{!check}}">
        <paper-button class="loan-btn" on-click="navigateDetails">View Loan</paper-button>
      </div>

      <div hidden$="{{!check}}">
        <paper-button class="loan-btn" on-tap="navigateProfile">Broker Profile</paper-button>
      </div>
    </div>

    <div class="content-center">
      <div hidden$="{{check}}">
        <form id="form" is="iron-form">
          <paper-input type="text" error-message="enter first name" auto-validate required always-float-label label="First Name"
            value="{{ prop1.fname }}"></paper-input>
          <paper-input type="text" error-message="enter last name" auto-validate required always-float-label label="Last Name"
            value="{{ prop1.lname }}"></paper-input>
          <paper-input type="date" error-message="enter DOB" auto-validate required always-float-label label="DOB" value="{{ prop1.dob }}"></paper-input>
          <!-- <paper-input id="dealno" type="text" label="Deal Number" value="{{ prop1.dnumber }}"></paper-input> -->
          <paper-input type="text" error-message="enter Amount" auto-validate required always-float-label label="Amount" value="{{ prop1.amount }}"></paper-input>
          <paper-input type="text" error-message="enter email" auto-validate required always-float-label label="Email" value="{{ prop1.email }}"></paper-input>
          <paper-input type="text" error-message="enter monthly income" auto-validate required always-float-label label="Monthly Income"
            value="{{ prop1.monthlyIncome }}"></paper-input>
          <paper-input type="text" label="Monthly Expenses" value="{{ prop1.monthlyExpenses }}"></paper-input>
          <paper-input type="text" error-message="enter tenure in no. of months" auto-validate required always-float-label label="Loan Tenure"
            value="{{ prop1.loanTerm }}"></paper-input>
          <!-- <paper-input id="ltype" type="text" label="Loan Type" value="{{ prop1.ltype }}"></paper-input> -->
          <paper-dropdown-menu label="Loan Type">
            <paper-listbox slot="dropdown-content" error-message="enter loan type" auto-validate required always-float-label class="dropdown-content"
              value={{prop1.loanType}} selected="{{prop1.loantype}}">
              <paper-item>Fixed Rate</paper-item>
              <paper-item>Variable Rate</paper-item>
            </paper-listbox>
          </paper-dropdown-menu>
          <paper-input type="text" error-message="enter property address" auto-validate required always-float-label label="Property Address"
            value="{{ prop1.propertyAddress }}"></paper-input>
          <!-- <paper-input id="rpayfrequency" type="text" label="Frequency" value="{{ prop1.rpayfrequency }}"></paper-input> -->
          <paper-dropdown-menu label="Frequency">
            <paper-listbox slot="dropdown-content" class="dropdown-content" value={{prop1.rpayfrequency}} selected="{{prop1.repaymentFrequency}}">
              <paper-item>15 days</paper-item>
              <paper-item>30 days</paper-item>
            </paper-listbox>
          </paper-dropdown-menu>
          <div class="btn-center">
            <button class="button" on-tap="sendData">submit</button>
          </div>
          
        </form>
        <iron-ajax id="ironAjaxSubmit" url="http://10.117.189.240:8084/mortgage/createCustomer" body='{{prop1}}' method="post" on-response="handleResponse"
          content-type="application/json" on-error="handleErrorResponse"></iron-ajax>
      </div>

    </div>

  </template>

  <script>
    /**
     * `loan-element`
     * Loan Element
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class LoanElement extends Polymer.Element {
      static get is() { return 'loan-element'; }
      static get properties() {
        return {
          prop1: {
            type: Object,
            value: {}
          },
          check: {
            type: Boolean,
            value: true
          },

          

        };
      }

      handleResponse(data) {
        modal.active = true;
        alert(data);
      }

      handleErrorResponse(data) {
        alert("some error happened");
      }

      
      navigateProfile() {
        //console.log(this.userObj);
        //this.
        window.history.pushState({}, null, '/profile');
        window.dispatchEvent(new CustomEvent('location-changed'));

      }
      
      navigateApplication() {
        //this.check = false;
        window.history.pushState({}, null, '/apply');
        // window.dispatchEvent(new CustomEvent('location-changed'));
        window.location.href="apply";
      }
      navigateDetails() {
        //this.check = false;
        window.history.pushState({}, null, '/details');
        // window.dispatchEvent(new CustomEvent('location-changed'));
        window.location.href="details";
      }
      navigateProfile() {
        //this.check = false;
        window.history.pushState({}, null, '/profile');
        // window.dispatchEvent(new CustomEvent('location-changed'));
        window.location.href="profile";
      }
      sendData() {

        if ((this.prop1.fname !== undefined)
          & (this.prop1.lname !== undefined)
          & (this.prop1.email !== undefined)
          & (this.prop1.propertyAddress !== undefined)
          & (this.prop1.monthlyIncome !== undefined)
          & (this.prop1.loanTerm !== undefined)) {


          let request = this.$.ironAjaxSubmit.generateRequest();
          request.completes.then(function (req) {
            alert('success');

          }, function (rejected) {
            // failed request, argument is an object
            let req = rejected.request;
            let error = rejected.error;
          }
          )
        }
        else {
          alert("validation failed!")
        }
      }
    }

    window.customElements.define(LoanElement.is, LoanElement);
  </script>
</dom-module>