<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>
      .card {
        margin: 24px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .circle {
        display: inline-block;
        width: 64px;
        height: 64px;
        text-align: center;
        color: #555;
        border-radius: 50%;
        background: #ddd;
        font-size: 30px;
        line-height: 64px;
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }

      :host {
        display: block;
      }

      .loan-btn {
        background-color: #5cb85c;
        border: none;
        color: white;
        padding: 12px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        font-weight: bold;
        width: 200px;
      }

      .container {
        text-align: center;
        border: 1px solid #d5d5d5;
        padding: 5px;
        background: #3367d6;
      }

      h3 {
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        margin: 0;
      }

      .button {
        background-color: #5cb85c;
        border: none;
        color: white;
        padding: 15px 32px;
        text-decoration: none;
        display: block;
        font-size: 16px;
        cursor: pointer;
        font-weight: bold;
      }

      .h-center {
        text-align: center;
        background: #fff;
        border: 1px solid #ccc;
        width: 50%;
        margin: 0 auto;
        box-shadow: 3px 3px 5px #888888;
      }

      .btn-center {
        margin: 0 auto;
        text-align: center;
      }

      .content-center {
        width: 85%;
        margin: 0 auto;
        background: #fff;
        box-shadow: 3px 3px 5px #888888;
        padding: 0 10px;
      }
    </style>
  </template>
</dom-module>
